.preview-anonymous-messages__component.button-style-01,
.preview-email-sigup-generator__component.button-style-01,
.preview-commerce-link-item__component.button-style-01,
.preview-location-item__component.button-style-01,
.preview-menu-item__component.button-style-01,
.preview-commerce-link-item__component.button-style-01 .preview-link-wrapper,
.preview-location-item__component.button-style-01 .preview-link-wrapper,
.preview-menu-item__component.button-style-01 .preview-link-wrapper,
.preview-link-item__component.button-style-01 .preview-link-wrapper,
.preview-header-component.button-style-01 .preview-link-wrapper,
.preview-link-item__component.button-style-01 .tiktok-embed-block,
.preview-link-item__component.button-style-01 .preview-twitter-link__component,
.preview-link-item__component.button-style-01 .pinterest-embed-block,
.preview-header-component.button-style-01 .tiktok-embed-block,
.preview-header-component.button-style-01 .preview-twitter-link__component,
.preview-header-component.button-style-01 .pinterest-embed-block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}
.preview-anonymous-messages__component.button-style-02,
.preview-email-sigup-generator__component.button-style-02,
.preview-commerce-link-item__component.button-style-02,
.preview-location-item__component.button-style-02,
.preview-menu-item__component.button-style-02,
.preview-commerce-link-item__component.button-style-02 .preview-link-wrapper,
.preview-location-item__component.button-style-02 .preview-link-wrapper,
.preview-menu-item__component.button-style-02 .preview-link-wrapper,
.preview-link-item__component.button-style-02 .preview-link-wrapper,
.preview-header-component.button-style-02 .preview-link-wrapper,
.preview-link-item__component.button-style-02 .tiktok-embed-block,
.preview-link-item__component.button-style-02 .preview-twitter-link__component,
.preview-link-item__component.button-style-02 .pinterest-embed-block,
.preview-header-component.button-style-02 .tiktok-embed-block,
.preview-header-component.button-style-02 .preview-twitter-link__component,
.preview-header-component.button-style-02 .pinterest-embed-block {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
}

.preview-anonymous-messages__component.button-style-03,
.preview-email-sigup-generator__component.button-style-03,
.preview-commerce-link-item__component.button-style-03,
.preview-location-item__component.button-style-03,
.preview-menu-item__component.button-style-03,
.preview-commerce-link-item__component.button-style-03 .preview-link-wrapper,
.preview-location-item__component.button-style-03 .preview-link-wrapper,
.preview-menu-item__component.button-style-03 .preview-link-wrapper,
.preview-link-item__component.button-style-03 .preview-link-wrapper,
.preview-header-component.button-style-03 .preview-link-wrapper,
.preview-link-item__component.button-style-03 .tiktok-embed-block,
.preview-link-item__component.button-style-03 .preview-twitter-link__component,
.preview-link-item__component.button-style-03 .pinterest-embed-block,
.preview-header-component.button-style-03 .tiktok-embed-block,
.preview-header-component.button-style-03 .preview-twitter-link__component,
.preview-header-component.button-style-03 .pinterest-embed-block {
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    border-radius: 40px !important;
}
.preview-anonymous-messages__component.button-style-04,
.preview-email-sigup-generator__component.button-style-04,
.preview-commerce-link-item__component.button-style-04,
.preview-location-item__component.button-style-04,
.preview-menu-item__component.button-style-04,
.preview-commerce-link-item__component.button-style-04 .preview-link-wrapper,
.preview-location-item__component.button-style-04 .preview-link-wrapper,
.preview-menu-item__component.button-style-04 .preview-link-wrapper,
.preview-link-item__component.button-style-04 .preview-link-wrapper,
.preview-header-component.button-style-04 .preview-link-wrapper,
.preview-link-item__component.button-style-04 .tiktok-embed-block,
.preview-link-item__component.button-style-04 .preview-twitter-link__component,
.preview-link-item__component.button-style-04 .pinterest-embed-block,
.preview-header-component.button-style-04 .tiktok-embed-block,
.preview-header-component.button-style-04 .preview-twitter-link__component,
.preview-header-component.button-style-04 .pinterest-embed-block {
    -webkit-border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    -moz-border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    -ms-border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
}

.preview-anonymous-messages__component.button-style-05,
.preview-email-sigup-generator__component.button-style-05,
.preview-commerce-link-item__component.button-style-05,
.preview-location-item__component.button-style-05,
.preview-menu-item__component.button-style-05,
.preview-commerce-link-item__component.button-style-05 .preview-link-wrapper,
.preview-location-item__component.button-style-05 .preview-link-wrapper,
.preview-menu-item__component.button-style-05 .preview-link-wrapper,
.preview-link-item__component.button-style-05 .preview-link-wrapper,
.preview-header-component.button-style-05 .preview-link-wrapper,
.preview-link-item__component.button-style-05 .tiktok-embed-block,
.preview-link-item__component.button-style-05 .preview-twitter-link__component,
.preview-link-item__component.button-style-05 .pinterest-embed-block,
.preview-header-component.button-style-05 .tiktok-embed-block,
.preview-header-component.button-style-05 .preview-twitter-link__component,
.preview-header-component.button-style-05 .pinterest-embed-block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}
.preview-anonymous-messages__component.button-style-05 .link-underlayer,
.preview-email-sigup-generator__component.button-style-05 .link-underlayer,
.preview-commerce-link-item__component.button-style-05 .link-underlayer,
.preview-location-item__component.button-style-05 .link-underlayer,
.preview-menu-item__component.button-style-05 .link-underlayer,
.preview-link-item__component.button-style-05 .link-underlayer,
.preview-header-component.button-style-05 .link-underlayer {
    top: 4px !important;
    left: 4px !important;
    border: 4px solid #239ae7 !important;
}
.preview-anonymous-messages__component.button-style-06,
.preview-email-sigup-generator-terms__component.button-style-06,
.preview-email-sigup-generator__component.button-style-06,
.preview-commerce-link-item__component.button-style-06,
.preview-location-item__component.button-style-06,
.preview-menu-item__component.button-style-06,
.preview-commerce-link-item__component.button-style-06 .preview-link-wrapper,
.preview-location-item__component.button-style-06 .preview-link-wrapper,
.preview-menu-item__component.button-style-06 .preview-link-wrapper,
.preview-link-item__component.button-style-06 .preview-link-wrapper,
.preview-header-component.button-style-06 .preview-link-wrapper,
.preview-link-item__component.button-style-06 .tiktok-embed-block,
.preview-link-item__component.button-style-06 .preview-twitter-link__component,
.preview-link-item__component.button-style-06 .pinterest-embed-block,
.preview-header-component.button-style-06 .tiktok-embed-block,
.preview-header-component.button-style-06 .preview-twitter-link__component,
.preview-header-component.button-style-06 .pinterest-embed-block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 2px solid #239ae7 !important;
    background: inherit !important ;
}
.preview-anonymous-messages__component.button-style-07,
.preview-email-sigup-generator-terms__component.button-style-07,
.preview-email-sigup-generator__component.button-style-07,
.preview-commerce-link-item__component.button-style-07,
.preview-location-item__component.button-style-07,
.preview-menu-item__component.button-style-07,
.preview-commerce-link-item__component.button-style-07 .preview-link-wrapper,
.preview-location-item__component.button-style-07 .preview-link-wrapper,
.preview-menu-item__component.button-style-07 .preview-link-wrapper,
.preview-link-item__component.button-style-07 .preview-link-wrapper,
.preview-header-component.button-style-07 .preview-link-wrapper,
.preview-link-item__component.button-style-07 .tiktok-embed-block,
.preview-link-item__component.button-style-07 .preview-twitter-link__component,
.preview-link-item__component.button-style-07 .pinterest-embed-block,
.preview-header-component.button-style-07 .tiktok-embed-block,
.preview-header-component.button-style-07 .preview-twitter-link__component,
.preview-header-component.button-style-07 .pinterest-embed-block {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
    border: 2px solid #239ae7 !important;
    background: inherit !important ;
}
.preview-anonymous-messages__component.button-style-08,
.preview-email-sigup-generator-terms__component.button-style-08,
.preview-email-sigup-generator__component.button-style-08,
.preview-commerce-link-item__component.button-style-08,
.preview-location-item__component.button-style-08,
.preview-menu-item__component.button-style-08,
.preview-commerce-link-item__component.button-style-08 .preview-link-wrapper,
.preview-location-item__component.button-style-08 .preview-link-wrapper,
.preview-menu-item__component.button-style-08 .preview-link-wrapper,
.preview-link-item__component.button-style-08 .preview-link-wrapper,
.preview-header-component.button-style-08 .preview-link-wrapper,
.preview-link-item__component.button-style-08 .tiktok-embed-block,
.preview-link-item__component.button-style-08 .preview-twitter-link__component,
.preview-link-item__component.button-style-08 .pinterest-embed-block,
.preview-header-component.button-style-08 .tiktok-embed-block,
.preview-header-component.button-style-08 .preview-twitter-link__component,
.preview-header-component.button-style-08 .pinterest-embed-block {
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    border-radius: 40px !important;
    border: 2px solid #239ae7 !important;
    background: inherit !important ;
}

.preview-anonymous-messages__component.button-style-09,
.preview-email-sigup-generator-terms__component.button-style-09,
.preview-email-sigup-generator__component.button-style-09,
.preview-commerce-link-item__component.button-style-09,
.preview-location-item__component.button-style-09,
.preview-menu-item__component.button-style-09,
.preview-commerce-link-item__component.button-style-09 .preview-link-wrapper,
.preview-location-item__component.button-style-09 .preview-link-wrapper,
.preview-menu-item__component.button-style-09 .preview-link-wrapper,
.preview-link-item__component.button-style-09 .preview-link-wrapper,
.preview-header-component.button-style-09 .preview-link-wrapper,
.preview-link-item__component.button-style-09 .tiktok-embed-block,
.preview-link-item__component.button-style-09 .preview-twitter-link__component,
.preview-link-item__component.button-style-09 .pinterest-embed-block,
.preview-header-component.button-style-09 .tiktok-embed-block,
.preview-header-component.button-style-09 .preview-twitter-link__component,
.preview-header-component.button-style-09 .pinterest-embed-block {
    -webkit-border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    -moz-border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    -ms-border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    border-radius: 50px 50px 50px 50px/25px 25px 25px 25px !important;
    border: 2px solid #239ae7 !important;
    background: inherit !important ;
}
.preview-anonymous-messages__component.button-style-10,
.preview-email-sigup-generator-terms__component.button-style-10,
.preview-email-sigup-generator__component.button-style-10,
.preview-commerce-link-item__component.button-style-10,
.preview-location-item__component.button-style-10,
.preview-menu-item__component.button-style-10,
.preview-commerce-link-item__component.button-style-10 .preview-link-wrapper,
.preview-location-item__component.button-style-10 .preview-link-wrapper,
.preview-menu-item__component.button-style-10 .preview-link-wrapper,
.preview-link-item__component.button-style-10 .preview-link-wrapper,
.preview-header-component.button-style-10 .preview-link-wrapper,
.preview-link-item__component.button-style-10 .tiktok-embed-block,
.preview-link-item__component.button-style-10 .preview-twitter-link__component,
.preview-link-item__component.button-style-10 .pinterest-embed-block,
.preview-header-component.button-style-10 .tiktok-embed-block,
.preview-header-component.button-style-10 .preview-twitter-link__component,
.preview-header-component.button-style-10 .pinterest-embed-block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 1px solid #239ae7 !important;
    background: transparent !important ;
}
.preview-anonymous-messages__component.button-style-10 .link-underlayer,
.preview-email-sigup-generator__component.button-style-10 .link-underlayer,
.preview-commerce-link-item__component.button-style-10 .link-underlayer,
.preview-location-item__component.button-style-10 .link-underlayer,
.preview-menu-item__component.button-style-10 .link-underlayer,
.preview-link-item__component.button-style-10 .link-underlayer,
.preview-header-component.button-style-10 .link-underlayer {
    display: block !important;
    top: 3px !important;
    left: 3px !important;
    border: 1px solid #239ae7 !important;
    border-width: 0 3px 3px 0 !important;
}
.preview-anonymous-messages__component.button-style-11,
.preview-email-sigup-generator__component.button-style-11,
.preview-commerce-link-item__component.button-style-11,
.preview-location-item__component.button-style-11,
.preview-menu-item__component.button-style-11,
.preview-commerce-link-item__component.button-style-11 .preview-link-wrapper,
.preview-location-item__component.button-style-11 .preview-link-wrapper,
.preview-menu-item__component.button-style-11 .preview-link-wrapper,
.preview-link-item__component.button-style-11 .preview-link-wrapper,
.preview-header-component.button-style-11 .preview-link-wrapper,
.preview-link-item__component.button-style-11 .tiktok-embed-block,
.preview-link-item__component.button-style-11 .preview-twitter-link__component,
.preview-link-item__component.button-style-11 .pinterest-embed-block,
.preview-header-component.button-style-11 .tiktok-embed-block,
.preview-header-component.button-style-11 .preview-twitter-link__component,
.preview-header-component.button-style-11 .pinterest-embed-block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 2px solid #239ae7 !important;
}

.preview-anonymous-messages__component.button-style-12,
.preview-email-sigup-generator__component.button-style-12,
.preview-commerce-link-item__component.button-style-12,
.preview-location-item__component.button-style-12,
.preview-menu-item__component.button-style-12,
.preview-commerce-link-item__component.button-style-12 .preview-link-wrapper,
.preview-location-item__component.button-style-12 .preview-link-wrapper,
.preview-menu-item__component.button-style-12 .preview-link-wrapper,
.preview-link-item__component.button-style-12 .preview-link-wrapper,
.preview-header-component.button-style-12 .preview-link-wrapper,
.preview-link-item__component.button-style-12 .tiktok-embed-block,
.preview-link-item__component.button-style-12 .preview-twitter-link__component,
.preview-link-item__component.button-style-12 .pinterest-embed-block,
.preview-header-component.button-style-12 .tiktok-embed-block,
.preview-header-component.button-style-12 .preview-twitter-link__component,
.preview-header-component.button-style-12 .pinterest-embed-block {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
    border: 2px solid #239ae7 !important;
}
.preview-anonymous-messages__component.button-style-13,
.preview-email-sigup-generator__component.button-style-13,
.preview-commerce-link-item__component.button-style-13,
.preview-location-item__component.button-style-13,
.preview-menu-item__component.button-style-13,
.preview-commerce-link-item__component.button-style-13 .preview-link-wrapper,
.preview-location-item__component.button-style-13 .preview-link-wrapper,
.preview-menu-item__component.button-style-13 .preview-link-wrapper,
.preview-link-item__component.button-style-13 .preview-link-wrapper,
.preview-header-component.button-style-13 .preview-link-wrapper,
.preview-link-item__component.button-style-13 .tiktok-embed-block,
.preview-link-item__component.button-style-13 .preview-twitter-link__component,
.preview-link-item__component.button-style-13 .pinterest-embed-block,
.preview-header-component.button-style-13 .tiktok-embed-block,
.preview-header-component.button-style-13 .preview-twitter-link__component,
.preview-header-component.button-style-13 .pinterest-embed-block {
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    border-radius: 40px !important;
    border: 2px solid #239ae7 !important;
}
.preview-anonymous-messages__component.button-style-14,
.preview-email-sigup-generator__component.button-style-14,
.preview-commerce-link-item__component.button-style-14,
.preview-location-item__component.button-style-14,
.preview-menu-item__component.button-style-14,
.preview-commerce-link-item__component.button-style-14 .preview-link-wrapper,
.preview-location-item__component.button-style-14 .preview-link-wrapper,
.preview-menu-item__component.button-style-14 .preview-link-wrapper,
.preview-link-item__component.button-style-14 .preview-link-wrapper,
.preview-header-component.button-style-14 .preview-link-wrapper,
.preview-link-item__component.button-style-14 .tiktok-embed-block,
.preview-link-item__component.button-style-14 .preview-twitter-link__component,
.preview-link-item__component.button-style-14 .pinterest-embed-block,
.preview-header-component.button-style-14 .tiktok-embed-block,
.preview-header-component.button-style-14 .preview-twitter-link__component,
.preview-header-component.button-style-14 .pinterest-embed-block {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    border-radius: 10px !important;
}
.preview-anonymous-messages__component.button-style-14,
.preview-email-sigup-generator__component.button-style-14,
.preview-link-item__component.button-style-14,
.preview-header-component.button-style-14 {
    margin-bottom: 20px !important ;
}

.preview-anonymous-messages__component.button-style-14 .link-underlayer::after,
.preview-email-sigup-generator__component.button-style-14 .link-underlayer::after,
.preview-commerce-link-item__component.button-style-14 .link-underlayer::after,
.preview-location-item__component.button-style-14 .link-underlayer::after,
.preview-menu-item__component.button-style-14 .link-underlayer::after,
.preview-link-item__component.button-style-14 .link-underlayer::after,
.preview-header-component.button-style-14 .link-underlayer::after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    width: calc(100% + 12px) !important;
    height: calc(100% + 12px) !important;
    content: "" !important;
    position: absolute !important;
    top: -6px !important;
    left: -6px !important;
    border-color: inherit !important;
    border-width: 2px !important;
    border-style: dashed !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    border-radius: 12px !important;
}
.preview-anonymous-messages__component.button-style-15,
.preview-email-sigup-generator__component.button-style-15,
.preview-commerce-link-item__component.button-style-15,
.preview-location-item__component.button-style-15,
.preview-menu-item__component.button-style-15,
.preview-commerce-link-item__component.button-style-15 .preview-link-wrapper,
.preview-location-item__component.button-style-15 .preview-link-wrapper,
.preview-menu-item__component.button-style-15 .preview-link-wrapper,
.preview-link-item__component.button-style-15 .preview-link-wrapper,
.preview-header-component.button-style-15 .preview-link-wrapper,
.preview-link-item__component.button-style-15 .tiktok-embed-block,
.preview-link-item__component.button-style-15 .preview-twitter-link__component,
.preview-link-item__component.button-style-15 .pinterest-embed-block,
.preview-header-component.button-style-15 .tiktok-embed-block,
.preview-header-component.button-style-15 .preview-twitter-link__component,
.preview-header-component.button-style-15 .pinterest-embed-block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}
.preview-anonymous-messages__component.button-style-15 .link-underlayer,
.preview-email-sigup-generator__component.button-style-15 .link-underlayer,
.preview-commerce-link-item__component.button-style-15 .link-underlayer,
.preview-location-item__component.button-style-15 .link-underlayer,
.preview-menu-item__component.button-style-15 .link-underlayer,
.preview-link-item__component.button-style-15 .link-underlayer,
.preview-header-component.button-style-15 .link-underlayer {
    display: block !important;
    top: 5px !important;
    left: 5px !important;
    border: 2px solid #239ae7 !important;
}

.preview-anonymous-messages__component .preview-anonymous-messages-wrapper .preview-anonymous-messages-content.pseudo-input-preview form .form-field .field input::placeholder {
    
    opacity: 0.5;
}